<app-navbar></app-navbar>
<section class="pricing-section">
    <div class="container">
        <div class="title">
            <h1>TODOS NUESTROS PRECIOS</h1>
            <h2>CLASES PRESENCIALES</h2>
        </div>
        <div class="pricing-cards">
            <div class="card">
                <div class="card-header">
                    <h2>1 Disciplina</h2>
                    <h2>Clases ilimitadas</h2>
                    <p>40€/MES</p>
                    <p>105€/TRIMESTRE</p>
                </div>
                <div class="card-body">
                    <ul>
                        <li>Acceso a todas las ubicaciones</li>
                        <li>Clases grupales ilimitadas</li>
                        <li>Acceso a eventos exclusivos</li>
                        <li>(Se pueden combinar en familias)</li>
                    </ul>
                </div>
                <div class="card-footer">
                    <button class="btn">Inscribirse</button>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h2>2 o más disciplinas</h2>
                    <h2>Clases ilimitadas</h2>
                    <p>50€/MES</p>
                    <p>135€/TRIMESTRE</p>
                </div>
                <div class="card-body">
                    <ul>
                        <li>Acceso a todas las ubicaciones</li>
                        <li>Clases grupales ilimitadas</li>
                        <li>Acceso a eventos exclusivos</li>
                        <li>(Se pueden combinar en familias)</li>
                    </ul>
                </div>
                <div class="card-footer">
                    <button class="btn">Inscribirse</button>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h2>Planificación Online Personalizada</h2>
                    <p>75€/MES</p>
                </div>
                <div class="card-body">
                    <ul>
                        <li>Acceso a todas las ubicaciones</li>
                        <li>Clases grupales ilimitadas</li>
                        <li>Acceso a eventos exclusivos</li>
                        <li>(Se pueden combinar en familias)</li>
                    </ul>
                </div>
                <div class="card-footer">
                    <button class="btn">Inscribirse</button>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h2>1 Clase Suelta</h2>
                    <p>10€ Entre diario</p>
                    <p>10€ Sábados</p>
                </div>
                <div class="card-body">
                    <ul>
                        <li>Acceso a todas las ubicaciones</li>
                        <li>Clases grupales ilimitadas</li>
                        <li>Acceso a eventos exclusivos</li>
                        <li>(Se pueden combinar en familias)</li>
                    </ul>
                </div>
                <div class="card-footer">
                    <button class="btn">Inscribirse</button>
                </div>
            </div>
            <div class="title">
                <h2>OTRAS TARIFAS</h2>
            </div>
            <div class="pricing-cards">
                <div class="card">
                    <div class="card-header">
                        <h2>Planificación Online Personalizada (3 MESES)</h2>
                        <p>200€/MES</p>
                    </div>
                    <div class="card-body">
                        <ul>
                            <li>Acceso a todas las ubicaciones</li>
                            <li>Clases grupales ilimitadas</li>
                            <li>Acceso a eventos exclusivos</li>
                            <li>(Se pueden combinar en familias)</li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <button class="btn">Inscribirse</button>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h2>OCR KIDS</h2>
                        <h2>Clases ilimitadas</h2>
                        <p>1 CLASE / 10€​</p>
                        <p>BONO DE 5 CLASES /40€</p>
                    </div>
                    <div class="card-body">
                        <ul>
                            <li>Acceso a todas las ubicaciones</li>
                            <li>Clases grupales ilimitadas</li>
                            <li>Acceso a eventos exclusivos</li>
                            <li>(Se pueden combinar en familias)</li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <button class="btn">Inscribirse</button>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h2>Bono de 10 clases</h2>
                        <p>70€</p>
                    </div>
                    <div class="card-body">
                        <ul>
                            <li>Acceso a todas las ubicaciones</li>
                            <li>Clases grupales ilimitadas</li>
                            <li>Acceso a eventos exclusivos</li>
                            <li>(Se pueden combinar en familias)</li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <button class="btn">Inscribirse</button>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header2">
                        <h2>Bono de 5 clases</h2>
                        <p>40€/MES</p>
                    </div>
                    <div class="card-body">
                        <ul>
                            <li>Acceso a todas las ubicaciones</li>
                            <li>Clases grupales ilimitadas</li>
                            <li>Acceso a eventos exclusivos</li>
                            <li>(Se pueden combinar en familias)</li>
                        </ul>
                    </div>
                    <div class="card-footer">
                        <button class="btn">Inscribirse</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="pre-footer">
    <article class="cuerpo">
        <div class="formulario">
            <div class="tituloform">
                <h1>Reserva tu entrenamiento</h1>
                <p>Estamos a tu disposición para atender todas tus consultas y comentarios.
                    Puedes utilizar el formulario que tienes más abajo para contactar con nosotros </p>
            </div>
            <form action="http://scoremarketing.es/mnldmz/wp-content/themes/advtheme/php/formulario.php" method="post">
                <div class="col">
                    <input type="text" name="nombre" value="" placeholder="Nombre" class="margen" required="">
                    <input type="number" name="telefono" value="" placeholder="Teléfono" required="">
                </div>
                <div class="col dos2">
                    <input type="email" name="email" value="" placeholder="Email" class="margen" required="">
                    <input type="text" name="ciudad" value="" placeholder="Ciudad">
                </div>
                <div class="col ultima2">
                    <textarea name="comentario" placeholder="Consultas y comentarios"></textarea>
                    <p class="politicas">
                        <input type="checkbox" name="politica" value="Aceptada" id="politica" required="">
                        <label for="politica">
                            He leído y acepto la <a
                                href="http://scoremarketing.es/mnldmz/politica-de-privacidad/">Política de
                                Privacidad</a>
                        </label>
                    </p>
                    <input type="submit" name="" value="Enviar">
                    <input type="hidden" name="url" id="url" value="http://scoremarketing.es/mnldmz/demodermaclinic/">
                </div>
                <div class="limpiar"></div>
            </form>
        </div>
    </article>
</div>