<div class="pre-footer">
    <article class="cuerpo">
        <div class="formulario">
            <div class="tituloform">
                <h1>Reserva tu entrenamiento</h1>
                <p>Estamos a tu disposición para atender todas tus consultas y comentarios.
                    Puedes utilizar el formulario que tienes más abajo para contactar con nosotros </p>
            </div>
            <form (submit)="addCategory()">
                <div class="col">
                    <label for="name" class="form-label">Nombre</label>
                    <input type="text" class="margen" id="name" [(ngModel)]="name" name="name">
                    <label for="phone" class="form-label">Telefono</label>
                    <input type="number" class="margen" id="phone" [(ngModel)]="phone" name="phone">
                </div>
                <div class="col dos2">
                    <label for="email" class="form-label">Email</label>
                    <input type="text" class="margen" id="email" [(ngModel)]="email" name="email">
                    <label for="city" class="form-label">Ciudad</label>
                    <input type="text" class="margen" id="city" [(ngModel)]="city" name="city">
                </div>
                <div class="col ultima2">
                    <label for="coment"></label>
                    <textarea name="coment" id="coment" [(ngModel)]="coment" placeholder="Consultas y comentarios"></textarea>
                    <p class="politicas">
                        <input type="checkbox" name="politica" value="Aceptada" id="politica" required="">
                        <label for="politica">
                            He leído y acepto la <a
                                href="http://scoremarketing.es/mnldmz/politica-de-privacidad/">Política de
                                Privacidad</a>
                        </label>
                    </p>
                    <button type="submit" class="btn btn-primary" [disabled]="loading">Enviar</button>
                    <input type="hidden" name="url" id="url" value="http://scoremarketing.es/mnldmz/demodermaclinic/">
                </div>
                <div class="limpiar"></div>
            </form>
        </div>
    </article>
    </div>