<app-navbar></app-navbar>
<div class="container mt-4 text-center">
    <div class="row">
        <div class="col-md-4 mb-4" *ngFor="let product of products">
            <article class="product card h-100">
                <div class="card-header">
                    <h3 class="product-header-title card-title">{{ product.title }}</h3>
                    <p class="product-price card-text">$ {{ product.price }}</p>
                </div>
                <div class="card-body">
                    <!-- <img [src]="product.images[0]" alt="" class="img-fluid mb-3"/> -->
                    <p class="product-description">{{ product.description }}</p>
                </div>
                <div class="card-footer">
                    <button class="product-footer-button btn btn-danger" (click)="addToCart(product)">
                        <i class="fa-solid fa-basket-shopping"></i> Añadir al Carrito
                    </button>
                </div>
            </article>
        </div>
    </div>
</div>
<section class="TercerSectionD">
    <article class="cuerpo">
        <div class="flexcontainer">
            <div class="left3">
                <h1>Brave Bulls</h1>
                <p>¡ÚNETE A LA MAYOR COMUNIDAD DE ENTRENAMIENTOS AL AIRE LIBRE DE ESPAÑA!</p>
                <p>Eleva tus entrenamientos al siguiente nivel.</p>
            </div>
            <div class="right3">
                <img src="/assets/img/inicio.png" alt="Inicio">
            </div>
        </div>
    </article>
</section>
<div class="bottom">
    <a href="#" class="scroll-down">
        <img class="img-fluid" src="/assets/img/flechaAbaj.png" alt="Flecha hacia abajo">
    </a>
</div>
<section class="QuintoSectionBtn">
    <article class="cuerpo">
        <div class="titulo">
            <h1>Nuestros entrenamientos</h1>
            <p>Ofrecemos una amplia gama de servicios especializados en carreras de obstáculos, calistenia, running,
                trail running y carreras de obstáculos para los más pequeños</p>
        </div>
        <div class="botones">
            <h4 id="mostrar_1" class="activo">
                ¿En qué consiste las OCR?
            </h4>
            <div id="txts" class="desplegable mostrar">
                <div class="cols">
                    <p>
                        Aprende a superar todo tipo de obstáculos, cuerda, peg board, anillas, combos de suspensión. En
                        los entrenamientos aprenderás todos los trucos para superarte a ti mismo
                        y ver que no tienes límites
                    </p>
                    <a href="#">
                        Más información [+]
                    </a>
                </div>
            </div>
            <h4 id="mostrar_2" class="">
                ¿En qué consiste la Calistenia?
            </h4>
            <div id="txts_2" class="desplegable">
                <div class="cols">
                    <p>
                        Aprende todas las modalidades que puedes encontrar dentro de calistenia, desde los mejores
                        trucos dentro del freestyle, hasta diferentes ejercicios estáticos o dinámicos que no te dejarán
                        indiferente.
                    </p><br>
                    <p>
                        Estos folículos se introducen a través de pequeños injertos de cuero
                        cabelludo con las llamadas “unidades foliculares”. Estos injertos se
                        obtienen con anestesia local de la zona posterior y/o lateral del
                        cuero cabelludo (lo que llamamos zonas donantes) y, tras prepararlos
                        minuciosamente bajo el microscopio, son introducidos cuidadosamente
                        mediante microincisiones con Zafiro en las zonas calvas o
                        alopécicas, de escaso pelo, que evolucionarían hacia la calvicie (o
                        sea, las zonas receptoras).
                    </p>
                    <a href="#">
                        Más información [+]
                    </a>
                </div>
            </div>
            <h4 id="mostrar_3" class="">¿En qué consiste el Running?</h4>
            <div id="txts_3" class="desplegable">
                <div class="cols">
                    <p>
                        Entrena como nunca lo has hecho, preparación específica para superar todas tus metas, cuestas,
                        cambios de ritmos, series, fartleck...
                        te esperarán en cada uno de nuestros entrenamientos.
                    </p>
                    <a href="#">
                        Más información [+]
                    </a>
                </div>
            </div>
        </div>
    </article>
</section>
<section class="CuartoSectionD">
    <article class="cuerpo">
        <div class="flex-container">
            <div class="izq"></div>
            <div class="right-txt">
                <h2>¡Prueba Gratuita!</h2>
                <p>¡Para una prueba pide reserva por teléfono o rellena nuestro formulario y
                    empieza a cuidarte!</p>
                <button class="btn2" href="#">Reservar</button>
            </div>
        </div>
    </article>
</section>
<section class="CuartoSectionD2">
    <article class="cuerpo">
        <img src="http://scoremarketing.es/mnldmz/wp-content/themes/advtheme/imgs/bannerResponsive.png" alt="">
        <div class="bottomtxt">
            <h2>¡Pide cita!</h2>
            <p>¡Para una consulta pide cita por teléfono o rellena nuestro formulario y
                empieza a cuidarte!</p>
            <button class="btn2" href="#">Pedir cita</button>
        </div>
    </article>
</section>
<section class="SegundoSectionM">
    <article class="cuerpo">
        <div class="titulo">
            <h2>¿Quiénes somos?</h2>
            <p>CAMPEONES NACIONALES DURANTE LOS ÚLTIMOS TRES AÑOS</p> 
        </div>
        <div class="flex-container">
            <div class="left2">
                <img src="/assets/img/sobrenosotros.png" alt="Sobre nosotros">
            </div>
            <div class="right002">
                <p>Brave Bulls es una empresa especializada en el deporte funcional y al aire libre. Somos el mayor
                    grupo de entrenamiento al aire libre de carreras de obstáculos en España. También contamos con
                    un
                    sistema único de planificación personalizado online para la consecución de todos los objetivos.</p>
            </div>
        </div>
    </article>
</section>
<section class="carruselM">
    <article class="cuerpo">
        <div class="titulo2">
            <h1>Nuestro equipo</h1>
            <p>En Brave Bulls, contamos con un destacado equipo internacional de entrenadores innovadores. Capacitados
                para atender en varios idiomas y priorizando la satisfacción de mujeres y hombres que valoran su imagen
                y bienestar.</p>
        </div>
        <div class="owl-carousel owl-theme">
            <div class="item">
                <img src="/assets/img/javi.png" alt="Imagen 1">
                <div class="texto-derecha">
                    <p class="t">@javirun90</p>
                    <p>Emprendedor de la vida misma.<br>CEO BRAVE BULLS.<br>Amante de su trabajo y concienciado en su
                        proyecto.</p>
                </div>
            </div>
            <div class="item">
                <img src="/assets/img/dani.png" alt="Imagen 2">
                <div class="texto-derecha">
                    <p class="t">@ocr_coach</p>
                    <p>
                        Emprendedor de la vida misma.<br>OCR Elite Athlete<br>Gestión deportiva y
                        fisioterapia<br>Entrenador OCR Madrid Río y Boadilla del Monte
                    </p>
                </div>
            </div>
            <div class="item">
                <img src="/assets/img/vanesa.png" alt="Imagen 3">
                <div class="texto-derecha">
                    <p class="t">@vanefg7</p>
                    <p>Entrenadora OCR y competidora élite.<br>Al tanto para informaros de todo trás las pantallas junto
                        a su mano derecha, Manuel.</p>
                </div>
            </div>
            <div class="item">
                <img src="/assets/img/manu.png" alt="Imagen 3">
                <div class="texto-derecha">
                    <p class="t">@manurun02</p>
                    <p>Community Manager de RRSS.</p>
                </div>
            </div>
        </div>
    </article>
</section>
<div class="pre-footer">
    <article class="cuerpo">
        <div class="formulario">
            <div class="tituloform">
                <h1>Reserva tu entrenamiento</h1>
                <p>Estamos a tu disposición para atender todas tus consultas y comentarios.
                    Puedes utilizar el formulario que tienes más abajo para contactar con nosotros </p>
            </div>
            <form action="http://scoremarketing.es/mnldmz/wp-content/themes/advtheme/php/formulario.php" method="post">
                <div class="col">
                    <input type="text" name="nombre" value="" placeholder="Nombre" class="margen" required="">
                    <input type="number" name="telefono" value="" placeholder="Teléfono" required="">
                </div>
                <div class="col dos2">
                    <input type="email" name="email" value="" placeholder="Email" class="margen" required="">
                    <input type="text" name="ciudad" value="" placeholder="Ciudad">
                </div>
                <div class="col ultima2">
                    <textarea name="comentario" placeholder="Consultas y comentarios"></textarea>
                    <p class="politicas">
                        <input type="checkbox" name="politica" value="Aceptada" id="politica" required="">
                        <label for="politica">
                            He leído y acepto la <a
                                href="http://scoremarketing.es/mnldmz/politica-de-privacidad/">Política de
                                Privacidad</a>
                        </label>
                    </p>
                    <input type="submit" name="" value="Enviar">
                    <input type="hidden" name="url" id="url" value="http://scoremarketing.es/mnldmz/demodermaclinic/">
                </div>
                <div class="limpiar"></div>
            </form>
        </div>
    </article>
    </div>
    <!-- </div>
<section class="footer">
    <article class="cuerpo">
            <div class="flexcontainer top">
                <div class="img-footer">
                    <img src="http://scoremarketing.es/mnldmz/wp-content/themes/advtheme/imgs/logotopo.png"
                        alt="Logo footer">
                </div>
            </div>
        
            <div class="flexcontainer middle">
                <div class="inicio flexcontainer">
                    <p>
                        <a href="http://scoremarketing.es/mnldmz/">Inicio</a>
                    </p>
                    <p>
                        <a href="http://scoremarketing.es/mnldmz/dermatologia-y-capilar/">¿Quiénes somos?</a>
                    </p>
                    <p>
                        <a href="http://scoremarketing.es/mnldmz/medicina-y-cirugia-estetica/">Disciplinas y Horarios</a>
                    </p>
                    <p>
                        <a href="http://scoremarketing.es/mnldmz/cosmetologia/">Planificación Online</a>
                    </p>
                    <p>
                        <a href="http://scoremarketing.es/mnldmz/laser/">Tarifas</a>
                    </p>
                    <p>
                        <a href="http://scoremarketing.es/mnldmz/">Contacto</a>
                    </p>
                    <p>
                        <a href="http://scoremarketing.es/mnldmz/contacto/">Tienda Online</a>
                    </p>
                    
                </div>
        
                <div class="contacto">
                    <p class="title">Contacto</p>
                    <p>
                        <a href="mailto:ifptfg@gmail.com">ifptfg@gmail.com</a>
                    </p>
                    <p>
                        <a href="tel:+34634231844">+34 634 231 844</a>
                    </p>
                    <p>Julian Camarillo, 6
                    </p>
                    <div>
                        <p>¡Síguenos en redes!</p>
                        <a href="">
                        <img src=""
                            alt="logo facebook"></a>
                        <a href="">
                            <img src=""
                                alt="logo instagram">
                        </a>
                    </div>
                </div>
            </div>
            <div class="politicas">
                <div class="flexcontainer">
                    <div class="pPrivacidad">
                        <div class="flexcontainer">
                            <a href="#">Política de privacidad</a>
                            <p>|</p>
                        </div>
                    </div>
                    <div class="pPrivacidad">
                        <div class="flexcontainer">
                            <a href="#">Política de cookies</a>
                            <p>|</p>
                        </div>
                    </div>
                    <div class="pPrivacidad">
                        <div class="flexcontainer">
                            <a href="https://adeuve.es/">Diseño web IFP</a>
                        </div>
                    </div>
                </div>

        
            
    </article>
</section> -->