<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <!-- Logo -->
    <div class="navbar-brand">
      <a href="#">
        <img class="logotop" src="/assets/img/logotopo.png" alt="LogoTop">
      </a>
    </div>

    <!-- Menu Items -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="navbar-nav">
        <div class="nav-item">
          <a class="nav-link" (click)="inicio()">Inicio</a>
        </div>
        <div class="nav-item">
          <a class="nav-link" (click)="QuienesSomos()">¿Quiénes Somos?</a>
        </div>
        <div class="nav-item">
          <a class="nav-link" (click)="Horarios()">Disciplinas y Horarios</a>
        </div>
        <div class="nav-item">
          <a class="nav-link" (click)="Planificacion()">Planificación Online</a>
        </div>
        <div class="nav-item">
          <a class="nav-link" (click)="Tarifas()">Tarifas</a>
        </div>
        <div class="nav-item">
          <a class="nav-link" (click)="Contacto()">Contacto</a>
        </div>
        <!-- Tienda Dropdown -->
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="tiendaDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Tienda Bulls
          </a>
          <ul class="dropdown-menu" aria-labelledby="tiendaDropdown">
            <li><a class="dropdown-item" (click)="verTodosProductos()">Todos los productos</a></li>
            <li *ngFor="let category of categories">
              <ng-container *ngIf="category.id !== undefined">
                <a class="dropdown-item" (click)="verProductosPorCategoria(category.id)">{{ category.title }}</a>
              </ng-container>
            </li>
          </ul>          
        </div>
      </div>
    </div>

    <!-- LogOut Button -->
    <button class="btn btn-outline-success" (click)="logOut()" type="button">LogOut</button>


    <!-- Cart Icon -->
    <div class="navbar-cart" (click)="onToggleCart()">
      <div class="navbar-cart-items" *ngIf="(myCart$ | async)?.length">
        <p>{{ (myCart$ | async)?.length }}</p>
      </div>
      <i class="fa-solid fa-cart-shopping text-danger"></i>
    </div>
  </div>
</nav>

<!-- Cart Component -->
<div class="cart" [ngClass]="{ show: viewCart }">
  <app-cart></app-cart>
</div>
