/* Estilos generales para el navbar */
.navbar {
  background-color: #fff;
  height: 120px;
}

.navbar-brand a {
  color: #000; /* Texto del logo en negro */
  font-weight: bold;
  font-size: 24px;
}

.navbar-nav {
  display: flex;
  flex-direction: row; /* Elementos en una sola línea */
  flex-grow: 1; /* Estirar para ocupar todo el espacio disponible */
  justify-content: space-around; /* Distribuir uniformemente */
}

.navbar-nav .nav-item {
  flex-grow: 1; /* Cada elemento ocupa el mismo espacio */
  text-align: center; /* Centramos el texto */
}

.navbar-nav .nav-item .nav-link {
  color: #000; /* Texto de los enlaces en negro */
  margin: 0 10px;
  font-size: 16px;
  transition: color 0.3s, font-weight 0.3s; /* Transición suave para color y peso de la fuente */
}

.navbar-nav .nav-item .nav-link:hover {
  color: #ff0000; /* Cambiar a rojo al pasar el ratón */
  font-weight: bold; /* Aumentar peso de la fuente al pasar el ratón */
}

.btn-outline-success {
  color: #000;
  margin-right: 20px;
  border-color: #000; /* Borde del botón LogOut en negro */
}

.form-control {
  background-color: transparent; /* Sin fondo */
  color: #000;
  border: 1px solid #000; /* Borde de la barra de búsqueda en negro */
}

.btn-outline-success[type="submit"] {
  color: #000;
  border-color: #000; /* Borde del botón de búsqueda en negro */
}

.dropdown-menu {
  background-color: #000; /* Fondo negro del menú desplegable */
  border: 1px solid #000; /* Borde negro */
}

.dropdown-item {
  color: #fff; /* Texto en blanco */
}

.navbar-cart {
  color: #000; /* Icono del carrito en negro */
  margin-left: 20px;
  cursor: pointer; /* Cambiar cursor al pasar sobre el icono */
}

.navbar-cart-items p {
  color: #000;
  background-color: #fff; /* Fondo blanco */
  border-radius: 50%;
  padding: 2px 8px;
}

.cart {
  background-color: #000; /* Fondo negro del carrito */
  border: 1px solid #000; /* Borde negro */
}

/* Estilo específico para el logotipo */
.navbar-brand .logotop {
  height: 180px;
}

.nav-item.current-page a {
  color: #bb140e;
  font-weight: 600;
}

/* Ajustes para pantallas menores de 1200px */
/* @media (max-width: 1199.98px) {
  .navbar-nav {
    flex-direction: column;
    text-align: center;
  }

  .navbar-nav .nav-item {
    margin-bottom: 10px;
  }

  .navbar-cart {
    margin-left: 0;
    margin-top: 10px;
  }

  .btn-outline-success {
    margin-top: 10px;
    margin-right: 0;
  }

  .dropdown {
    margin-top: 10px;
  }
} */

/* Ajustes para el toggle button */
.navbar-toggler {
  border-color: #000;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-width='2' linecap='round' linejoin='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
