/* Estilos generales para el navbar */
.navbar {
  background-color: #fff;
  height: 120px;
}

.navbar-brand a {
  color: #000; /* Texto del logo en negro */
  font-weight: bold;
  font-size: 24px;
}

.navbar-nav {
  display: flex;
  flex-direction: row; /* Elementos en una sola línea */
  flex-grow: 1; /* Estirar para ocupar todo el espacio disponible */
  justify-content: space-around; /* Distribuir uniformemente */
}

.navbar-nav .nav-item {
  flex-grow: 1; /* Cada elemento ocupa el mismo espacio */
  text-align: center; /* Centramos el texto */
}

.navbar-nav .nav-item .nav-link {
  color: #000; /* Texto de los enlaces en negro */
  margin: 0 10px;
  font-size: 16px;
  transition: color 0.3s, font-weight 0.3s; /* Transición suave para color y peso de la fuente */
}

.navbar-nav .nav-item .nav-link:hover {
  color: #ff0000; /* Cambiar a rojo al pasar el ratón */
  font-weight: bold; /* Aumentar peso de la fuente al pasar el ratón */
}

.btn-outline-success {
  color: #000;
  border-color: #000; /* Borde del botón LogOut en negro */
}

.form-control {
  background-color: transparent; /* Sin fondo */
  color: #000;
  border: 1px solid #000; /* Borde de la barra de búsqueda en negro */
}

.btn-outline-success[type="submit"] {
  color: #000;
  border-color: #000; /* Borde del botón de búsqueda en negro */
}

.dropdown-menu {
  background-color: #000; /* Fondo negro del menú desplegable */
  border: 1px solid #000; /* Borde negro */
}

.dropdown-item {
  color: #000; /* Texto en negro */
}

.navbar-cart {
  color: #000; /* Icono del carrito en negro */
}

.navbar-cart-items p {
  color: #000;
  background-color: #fff; /* Fondo blanco */
}

.cart {
  background-color: #000; /* Fondo negro del carrito */
  border: 1px solid #000; /* Borde negro */
}

/* Estilo específico para el logotipo */
.navbar-brand .logotop {
  height: 180px;
}

