/* Estilos generales para el navbar */
.navbar {
  background-color: #000; /* Fondo negro */
}

.navbar-brand a {
  color: #ff0000; /* Texto del logo en rojo */
  font-weight: bold;
  font-size: 24px;
}

.navbar-nav .nav-item .nav-link {
  color: #fff; /* Texto de los enlaces en blanco */
  margin: 0 10px;
  font-size: 18px;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #ff0000; /* Texto de los enlaces en rojo al pasar el cursor */
}

.btn-outline-success {
  color: #fff;
  border-color: #ff0000; /* Borde del botón LogOut en rojo */
}

.btn-outline-success:hover {
  background-color: #ff0000; /* Fondo rojo al pasar el cursor */
  border-color: #ff0000;
}

.form-control {
  background-color: #000;
  color: #fff;
  border: 1px solid #ff0000; /* Borde de la barra de búsqueda en rojo */
}

.btn-outline-success[type="submit"] {
  color: #fff;
  border-color: #ff0000; /* Borde del botón de búsqueda en rojo */
}

.btn-outline-success[type="submit"]:hover {
  background-color: #ff0000; /* Fondo rojo al pasar el cursor */
  border-color: #ff0000;
}

.dropdown-menu {
  background-color: #000; /* Fondo negro del menú desplegable */
  border: 1px solid #ff0000; /* Borde rojo */
}

.dropdown-item {
  color: #fff; /* Texto en blanco */
}

.dropdown-item:hover {
  background-color: #ff0000; /* Fondo rojo al pasar el cursor */
  color: #000; /* Texto en negro */
}

.navbar-cart {
  color: #ff0000; /* Icono del carrito en rojo */
  cursor: pointer;
  position: relative;
}

.navbar-cart-items p {
  color: #fff;
  background-color: #ff0000;
  border-radius: 50%;
  padding: 5px 10px;
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: 14px;
}

.cart.show {
  display: block;
}

.cart {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #000; /* Fondo negro del carrito */
  border: 1px solid #ff0000; /* Borde rojo */
  width: 300px;
  padding: 20px;
  z-index: 1000;
}
