<app-navbar-logout></app-navbar-logout>
<div class="container mt-2 text-center">
    <h2>Productos</h2>
    <article class="product" *ngFor="let item of listProduct">
        <div class="product-header">
            <h3 class="product-header-title">{{ item.title }}</h3>
            <p>€ {{ item.price }}</p>
        </div>
        <div class="product-body">
            <p>{{ item.description }}</p>
        </div>
        <div class="product-footer">
            <button class="product-footer-button">
                <a>Añadir a Carrito</a>
            </button>
        </div>
    </article>
</div>
