<app-navbar></app-navbar>
<div class="container mt-4">
    <div class="row">
        <!-- Sidebar de Categorías -->
        <div class="col-md-3 mb-4">
            <ul class="list-group">
                <li class="list-group-item"
                    (click)="verTodosProductos()"
                    (keydown)="handleKeyDown($event, -1)">
                    Todos los productos
                </li>
                <li class="list-group-item"
                    *ngFor="let category of categories"
                    (click)="category.id && verProductosPorCategoria(category.id)"
                    (keydown)="category.id && handleKeyDown($event, category.id)">
                    {{ category.title }}
                </li>
            </ul>
        </div>

        <!-- Lista de Productos -->
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-4 mb-4" *ngFor="let product of products">
                    <article class="product card h-100">
                        <div class="card-header">
                            <h3 class="product-header-title card-title">Camiseta Manga Corta</h3>
                        </div>
                        <img src="/assets/img/CamisetaMangaCorta.png" class="card-img-top img-fluid">
                        <div class="card-body">
                            <p class="product-price card-text">20€</p>
                        </div>
                        <div class="card-footer">
                            <button class="product-footer-button btn btn-danger" (click)="addToCart(product)">
                                <i class="fa-solid fa-basket-shopping"></i> Añadir al Carrito
                            </button>
                        </div>
                    </article>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-4 mb-4" *ngFor="let product of products">
                    <article class="product card h-100">
                        <div class="card-header">
                            <h3 class="product-header-title card-title">Camiseta Tirantes Pro</h3>
                        </div>
                        <img src="/assets/img/CamisetaMangaCorta.png" class="card-img-top img-fluid">
                        <div class="card-body">
                            <p class="product-price card-text">30€</p>
                        </div>
                        <div class="card-footer">
                            <button class="product-footer-button btn btn-danger" (click)="addToCart(product)">
                                <i class="fa-solid fa-basket-shopping"></i> Añadir al Carrito
                            </button>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
