.card-title {
    text-align: center !important;
}

.dropdown-menu{
    background-color: black !important;
    color: #ffffff !important;
    width: 200px !important;
}

.card-footer{
    margin-left: auto !important;
    margin-right: auto !important;
    background-color: transparent !important;
}

@media only screen and (max-width: 1400px) {
    .col-md-4 {
        flex: 0 0 calc(50% - 1rem); /* Se establece el ancho de cada columna al 50% menos el espacio entre ellas */
        max-width: calc(50% - 1rem); /* Se establece el ancho máximo de cada columna al 50% menos el espacio entre ellas */
    }
}
@media only screen and (max-width: 1010px) {
    .col-md-4 {
        flex: 0 0 100%; /* Establece el ancho de cada columna al 100% */
        max-width: 100%; /* Establece el ancho máximo de cada columna al 100% */
    }
}
