 <div class="container mt-5">
  <h2>Administración</h2>
  <div class="d-flex flex-column mt-3 ml-3">
  <button type="button" class="btn btn-primary mb-2" style="width: 15%;"  data-toggle="modal" data-target="#categoryModal">Crear Categoría</button>
  
  <!-- Modal -->
  <div class="modal fade" id="categoryModal" tabindex="-1" aria-labelledby="categoryModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="categoryModalLabel">Crear Categoría</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form (submit)="addCategory()">
            <div class="mb-3">
              <label for="title" class="form-label">Título</label>
              <input type="text" id="title" [(ngModel)]="title" name="title" class="form-control">
            </div>
            <div class="mb-3">
              <label for="description" class="form-label">Descripción</label>
              <input type="text" id="description" [(ngModel)]="description" name="description" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="loading">Crear</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <button type="button" class="btn btn-primary " style="width: 15%;" data-toggle="modal" data-target="#productModal">Crear Producto</button>
  
  <!-- Modal -->
  <div class="modal fade" id="productModal" tabindex="-1" aria-labelledby="productModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="productModalLabel">Crear Producto</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form (submit)="addProduct()">
            <div class="mb-3">
              <label for="name" class="form-label">Nombre</label>
              <input type="text" id="name" [(ngModel)]="name" name="name" class="form-control">
            </div>
            <div class="mb-3">
              <label for="descriptionProduct" class="form-label">Descripcion</label>
              <input type="text" id="descriptionProduct" [(ngModel)]="descriptionProduct" name="descriptionProduct" class="form-control">
            </div>
            <div class="mb-3">
              <label for="price" class="form-label">Precio</label>
              <input type="number" id="price" [(ngModel)]="price" name="price" class="form-control">
            </div>
            <div class="mb-3">
              <label for="titleProduct" class="form-label">Titulo</label>
              <input type="text" id="titleProduct" [(ngModel)]="titleProduct" name="titleProduct" class="form-control">
            </div>
            <div class="mb-3">
              <label for="img" class="form-label">Nombre de Imagen</label>
              <input type="text" id="img" [(ngModel)]="img" name="img" class="form-control">
            </div>
            <div class="mb-3">
              <label for="cantidad" class="form-label">Cantidad</label>
              <input type="number" id="cantidad" [(ngModel)]="cantidad" name="cantidad" class="form-control">
            </div>
            <div class="mb-3">
              <label for="category" class="form-label">Categoría</label>
              <select id="category" [(ngModel)]="categoryId" name="categoryId" class="form-control">
                <option *ngFor="let category of categorys" [value]="category.id">{{ category.title }}</option>
              </select>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="loading">Crear</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  </div>
    <h2 class="text-center mt-4">Usuarios</h2>
    <div class="row">
      <div class="col-12">
        <div class="card mb-3" *ngFor="let user of users">
          <div class="card-body">
            <h5 class="card-title">{{ user.username }}</h5>
            <p class="card-text"><strong>Password:</strong> {{ user.password }}</p>
            <p class="card-text"><strong>Name:</strong> {{ user.name }}</p>
            <p class="card-text"><strong>Surname:</strong> {{ user.surname }}</p>
            <p class="card-text"><strong>Email:</strong> {{ user.email }}</p>
          </div>
        </div>
      </div>
    </div>
    <h2 class="text-center mt-4">Pedidos</h2>
    <div class="container mt-2">
      <div class="row">
        <div class="col-12">
          <div class="card mb-3" *ngFor="let order of orders">
            <div class="card-body">
              <h5 class="card-title">ID: {{order.id }}</h5>
              <p class="card-text"><strong>Fecha del Pedido</strong> {{ order.orderDate }} </p>
              <p class="card-text"><strong>Total:</strong> ${{order.totalAmount}}</p>
              <p class="card-text"><strong>ID del Usuario:</strong> {{order.userId}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h2 class="text-center mt-4">Lineas de Pedidos</h2>
    <div class="container mt-2">
      <div class="row">
        <div class="col-12">
          <div class="card mb-3" *ngFor="let orderline of orderlines">
            <div class="card-body">
              <h5 class="card-title">ID del Pedido: {{orderline.orderId}}</h5>
              <p class="card-text"><strong>Precio:</strong> ${{orderline.price}}</p>
              <p class="card-text"><strong>ID del Producto:</strong> {{orderline.productId}}</p>
              <p class="card-text"><strong>Cantidad:</strong> {{orderline.quantity}} </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h2 class="text-center mt-4">Categorias</h2>
    <div class="container mt-2">
      <div class="row">
        <div class="col-12">
          <div class="card mb-3" *ngFor="let category of categorys">
            <div class="card-body">
              <h5 class="card-title">Titulo: {{category.title}}</h5>
              <p class="card-text"><strong>Descripcion:</strong> {{category.description}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>