<app-navbar></app-navbar>
<section class="SegundoSectionC">
    <article class="cuerpo">
        <div class="titulo">
            <h1>¿Quiénes somos?</h1>
            <p>CAMPEONES NACIONALES DURANTE LOS ÚLTIMOS TRES AÑOS</p>
        </div>
        <div class="flex-container">
            <div class="left2">
                <img src="/assets/img/qsomos2.jpg" alt="">
            </div>
            <div class="right0002">
                <div class="der2M">
                    <h3>Nuestra Historia</h3>
                    <p>Brave Bulls fue fundada en 2015 por un grupo de apasionados del deporte al aire libre. Desde
                        nuestros humildes comienzos, hemos crecido para convertirnos en la mayor comunidad de
                        entrenamientos al aire libre de España.</p>
                    <h3>Nuestros Valores</h3>
                    <ul>
                        <li><strong>Innovación:</strong> Siempre estamos buscando nuevas formas de mejorar nuestros
                            entrenamientos.</li>
                        <li><strong>Comunidad:</strong> Creemos en el poder de la comunidad y el apoyo mutuo.</li>
                        <li><strong>Compromiso:</strong> Nos comprometemos con nuestros miembros para ayudarles a
                            alcanzar sus objetivos.</li>
                    </ul>
                </div>
            </div>
        </div>
    </article>
</section>
        <section class="QuintoSectionC">
            <article class="cuerpo">
                <div class="flex-container">
                    <div class="left4">
                        <div class="titulo">
                            <h1>Testimonios</h1>
                            <blockquote>
                                "Unirme al club de running ha sido una de las mejores decisiones de mi vida. No solo he mejorado mi rendimiento y resistencia, sino que también he encontrado una comunidad de apoyo que me motiva a seguir adelante. Las sesiones son desafiantes pero gratificantes, y siempre espero con ansias el próximo entrenamiento." - Laura G.
                            </blockquote>
                        </div>
                        <div class="titulo">
                            <blockquote>
                                "Entrenar con el club de calistenia ha transformado completamente mi enfoque del ejercicio. He aprendido a controlar mi cuerpo y a realizar movimientos que nunca pensé posibles. Los entrenadores son expertos y siempre están disponibles para ofrecer consejos y apoyo. He ganado fuerza y confianza gracias a este club." - Carlos M.
                            </blockquote>
                        </div>
                        <div class="titulo">
                            <blockquote>
                                "El club combina lo mejor de ambos mundos: la resistencia y el cardio del running con la fuerza y flexibilidad de la calistenia. Desde que me uní, he notado una mejora significativa en mi condición física general y en mi bienestar mental. Además, he conocido a personas increíbles que comparten mi pasión por el fitness." - Ana R.
                            </blockquote>
                        </div>
                        <div class="titulo">
                            <blockquote>
                                "Lo que más me gusta del club es la increíble comunidad que hemos formado. No importa tu nivel de habilidad, siempre hay alguien dispuesto a ayudarte y a alentarte. Las sesiones de entrenamiento son intensas pero divertidas, y siempre me siento bienvenido y apoyado." - David P.
                            </blockquote>
                        </div>
                    </div>
                    <div class="right3">
                        <img src="/assets/img/qsomos.jpg" alt="">
                    </div>
                </div>
            </article>
        </section>


<div class="pre-footer">
    <article class="cuerpo">
        <div class="formulario">
            <div class="tituloform">
                <h1>Reserva tu entrenamiento</h1>
                <p>Estamos a tu disposición para atender todas tus consultas y comentarios.
                    Puedes utilizar el formulario que tienes más abajo para contactar con nosotros </p>
            </div>
            <form action="http://scoremarketing.es/mnldmz/wp-content/themes/advtheme/php/formulario.php" method="post">
                <div class="col">
                    <input type="text" name="nombre" value="" placeholder="Nombre" class="margen" required="">
                    <input type="number" name="telefono" value="" placeholder="Teléfono" required="">
                </div>
                <div class="col dos2">
                    <input type="email" name="email" value="" placeholder="Email" class="margen" required="">
                    <input type="text" name="ciudad" value="" placeholder="Ciudad">
                </div>
                <div class="col ultima2">
                    <textarea name="comentario" placeholder="Consultas y comentarios"></textarea>
                    <p class="politicas">
                        <input type="checkbox" name="politica" value="Aceptada" id="politica" required="">
                        <label for="politica">
                            He leído y acepto la <a
                                href="http://scoremarketing.es/mnldmz/politica-de-privacidad/">Política de
                                Privacidad</a>
                        </label>
                    </p>
                    <input type="submit" name="" value="Enviar">
                    <input type="hidden" name="url" id="url" value="http://scoremarketing.es/mnldmz/demodermaclinic/">
                </div>
                <div class="limpiar"></div>
            </form>
        </div>
    </article>
</div>
