<app-navbar-logout></app-navbar-logout>
<section class="SegundoSectionC">
    <article class="cuerpo">
        <div class="titulo">
            <h1>RUNNING</h1>
            <p>QUE NADIE DIGA QUE NO PUEDES</p>
        </div>
        <div class="flex-container">
            <div class="left2">
                <img src="/assets/img/correr.jpg" alt="">
            </div>
            <div class="right0002">
                <div class="der2M">
                    <h3>PRÉPARATE PARA 5K, 10K, 21K Y MARATÓN</h3>
                    <p>Empieza tus entrenamientos de running y conquista todas las distancias desde 5k hasta una
                        maraton.</p>
                    <br>
                    <p>Entrena como nunca lo has hecho, preparación específica para superar todas tus metas, cuestas,
                        cambios de ritmos, series, fartleck... te esperarán en cada uno de nuestros entrenamientos.</p>
                    <br>
                    <p>Además mejorarás tu técnica de carrera a través de un trabajo diario en cada sesión que harán de
                        tu carrera más eficiente y sobre todo preventiva de cara a las lesiones.</p>

                </div>
            </div>
        </div>
    </article>
</section>
<div class="titulo">
    <h3>NUESTROS ENTRENOS TE AYUDARÁN PARA PREPARAR CARRERAS!</h3>
    <ul>
        <li><strong>Parque Juan Carlos I | </strong> HORARIOS: MARTES: 20:00 | JUEVES: 20:00 </li>
        <li><strong>Parque Retiro | </strong> HORARIOS: LUNES: 20:00 | MIÉRCOLES: 20:00 </li>
        <li><strong>Madrid Río | </strong> HORARIOS: MARTES: 20:00 | JUEVES: 20:00 </li>    
    </ul>
</div>
<section class="TercerSectionD">
    <div class="titulo">
        <h1>CALISTENIA</h1>
        <p>LLEGA HASTA DONDE NUNCA CREÍAS QUE IBAS A PODER</p>
    </div>
    <article class="cuerpo">
        <div class="flexcontainer">
            
            <div class="left3">
                <h3>FREESTYLE, RESISTENCIA, DINÁMICOS,ESTÁTICOS... TODO A TU ALCANCE</h3>
                <p>La calistenia es un sistema de ejercicios físicos con el propio peso corporal; en el sistema el
                    interés está en los movimientos de grupos musculares más que en la potencia y el esfuerzo.</p>
                <br>
                <p>Aprende todas las modalidades que puedes encontrar dentro de calistenia, desde los mejores trucos
                    dentro del freestyle , hasta diferentes ejercicios estáticos o dinámicos que no te dejarán
                    indiferente.</p>
                <br>
                <p>Empieza a entrenar esta nueva modalidad que está reinando por toda Europa y enseguida notarás los
                    cambios.</p>
            </div>
            <div class="right3">
                <img src="/assets/img/calis.png" alt="Inicio">
            </div>
        </div>
    </article>
</section>
<div class="titulo">
    <h3>ENTRENAMIENTOS DE CALISTENIA</h3>
    <ul>
        <li><strong>Parque Juan Carlos I | </strong> HORARIOS: MARTES: 19:00 | JUEVES: 19:00 </li>
        <li><strong>Parque Retiro | </strong> HORARIOS: LUNES: 19:00 | MIÉRCOLES: 19:00 </li>
        <li><strong>Embajadores | </strong> HORARIOS: MARTES: 19:00 | JUEVES: 19:00 </li>
        <li><strong>Madrid Río | </strong> HORARIOS: MARTES: 19:00 | JUEVES: 19:00 </li>
        <li><strong>Canal | </strong> HORARIOS: LUNES: 19:00 | MIÉRCOLES: 19:00 </li>
    </ul>
</div>

<section class="SegundoSectionC">
    <article class="cuerpo">
        <div class="titulo">
            <h1>CARRERAS DE OBSTÁCULOS</h1>
            <p>DESCUBRE QUE NO TIENES LÍMITES</p>
        </div>
        <div class="flex-container">
            <div class="left2">
                <img src="/assets/img/ocr.jpg" alt="">
            </div>
            <div class="right0002">
                <div class="der2M">
                    <h3>ENTRANAMIENTOS DE CARRERAS DE OBSTÁCULOS</h3>
                    <p>Entrenamiento realmente novedoso, uno de los pocos grupos de España para poder entrenar este tipo
                        de carreras al aire libre. Entrenamientos funcionales enfocados a la práctica y técnica de los
                        obstáculos que nos vamos a enfrentar en las carreras.</p>
                    <br>
                    <p>Aprende a superar todo tipo de obstáculos, cuerda, peg board, anillas, combos de suspensión. En
                        los entrenamientos aprenderás todos los trucos para superarte a ti mismo y ver que no tienes
                        límites.</p>
                    <br>
                    <p>Te esperamos en el grupo referencia de toda España de entrenamientos de carrera de obstáculos.
                    </p>
                </div>
            </div>
        </div>
    </article>
</section>
<div class="titulo">
    <h3>ENTRENAMIENTOS DE CARRERAS DE OBSTÁCULOS</h3>
    <ul>
        <li><strong>Parque Juan Carlos I | </strong> HORARIOS: MARTES: 19:00 | JUEVES: 19:00 </li>
        <li><strong>Parque Retiro | </strong> HORARIOS: LUNES: 19:00 | MIÉRCOLES: 19:00 </li>
        <li><strong>Embajadores | </strong> HORARIOS: MARTES: 19:00 | JUEVES: 19:00 </li>
        <li><strong>Madrid Río | </strong> HORARIOS: MARTES: 19:00 | JUEVES: 19:00 </li>
        <li><strong>Canal | </strong> HORARIOS: LUNES: 19:00 | MIÉRCOLES: 19:00 </li>
    </ul>
</div>
<section class="QuintoSectionDD">
    <article class="cuerpo">
        <div class="titulo">
            <h1>ENTRENAMIENTOS DE TRAIL RUNNING</h1>
            <p>QUE NADIE DIGA QUE NO PUEDES</p>
        </div>
        <div class="flex-container">
            <div class="izq">
                <h3>ENTRANAMIENTOS DE TRAIL RUNNING</h3>
                <p>El trail running se define, simplemente, como la práctica de la carrera a pie en plena naturaleza. Es un deporte que se practica fuera de pista. Además, es muy completo y, sin duda, requiere buenas piernas, pero también un buen tren superior. Por último, exige concentración y prudencia.</p>
                <br>
                <p>¿Quieres aprenderlo? Déjanos enseñarte con nuestros entrenamientos.</p>
            </div>
            <div class="der">
                <img src="/assets/img/trail.jpg" alt="">
            </div>
        </div>
    </article>
</section>
<div class="titulo">
    <h3>ENTRENAMIENTOS DE TRAIL RUNNING</h3>
    <ul>
        <li><strong>CASA DE CAMPO | </strong> SE REALIZARÁN 2 SÁBADOS AL MES EN CASA DE CAMPO A LAS 10:00 Y OTROS DOS SÁBADOS EN LOS ALREDEDORES DE LA COMUNIDAD DE MADRID</li>
    </ul>
</div>
<app-footer></app-footer>

