<app-navbar-logout></app-navbar-logout>

<section class="SegundoSectionM">
    <article class="cuerpo">
        <div class="titulo">
            <h2>PLANIFICACIÓN ONLINE PERSONALIZADA</h2>
        </div>
        <div class="flex-container">
            <div class="left2">
                <img src="/assets/img/planinO.png" alt="">
            </div>
            <div class="right002">
                <h2>PROGRAMA INDIVIDUALIZADO TOTALMENTE ONLINE  DONDE PODRÁS ALCANZAR TU MÁXIMO RENDIMIENTO</h2>
    <p>En Brave Bulls, nos especializamos en impulsar tu rendimiento deportivo, sin importar la disciplina o tu nivel actual. Ya sea que estés empezando o busques llevar tu rendimiento al siguiente nivel, nuestro equipo de expertos está listo para diseñar un plan personalizado que se ajuste a tus metas. No busques más, tu entrenador online ideal te espera aquí para enfrentar y conquistar cualquier reto que te propongas. </p>
    <button class="btn4" href="#">Contacta para tu plan</button>
            </div>
        </div>
    </article>
</section>

<app-footer></app-footer>