/* You can add global styles to this file, and also import other style files */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css");
@import '~bootstrap/dist/css/bootstrap.min.css';



html, body {
    height: 100%;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    height: 100%;
}

.logo {
    height: 130px;
    margin-bottom: 10px;
}

.body {
    max-width: 300px;
    width: 100%;
    text-align: center;
}

/*
Light_ 300
Regular_ 400
Medium_ 500
Semi-bold_ 600
Bold_ 700
Extra-bold_ 800
Black_ 900
*/
/*--------------------MOLDES COMUNES--------------------*/
body {
	font-family: 'Open Sans', sans-serif;
	overflow-x: hidden;
}

b {
	font-weight: bold;
}

a,
a:active,
a:hover,
a:focus,
a:visited {
	text-decoration: none;
	color: inherit;
	outline: 0;
	/* margin-top: 10px; */
}

img {
	max-width: 100%;
}

p:empty {
	display: none;
}

* {
	box-sizing: border-box;
	color: #4b4b4b;
}

.cuerpo {
	margin: 0 auto;
	max-width: 1500px;
	padding-left: 15px;
	padding-right: 15px;
}

.limpiar {
	clear: both;
	line-height: 0;
	padding: 0;
	margin: 0;
	font-size: 0;
	height: 0;
}

h1 {
	font-size: 30px;
	line-height: 35px;
	font-weight: 600;
	margin-bottom: 25px;
}

h2 {
	font-size: 36px;
	line-height: 41px;
	font-weight: 600;
	margin-bottom: 15px;
	/* margin-bottom: 25px; */
}

p {
	font-size: 18px;
	line-height: 23px;
	font-weight: 300;
	
}

.right3 img{
	border-radius: 25px 25px 25px 25px;
}

a.btn {
	font-size: 18px;
	line-height: 23px;
	font-weight: 600;
	color: #fff;
	background-color: #000;
	border: 1px solid #000;
	display: block;
	text-align: center;
	width: 210px;
	padding: 10px 0;
	margin-top: 30px;
}

a.btn:hover {}

.after:after {
	content: "";
	position: relative;
	height: 8px;
	background-color: #000;
	display: block;
	margin-top: 10px;
	margin-bottom: 25px;
	width: 85px;
}

.flexcontainer {
	display: flex;
}

.flexcontainer.center {
	justify-content: center;
	align-items: center;
}

.izq {
	flex-basis: 50%;
}

.der {
	flex-basis: 50%;
}

/*--------------------SIDENAV--------------------*/
div#mySidenav {
	transition: all ease 0.7s;
	background-color: rgba(0, 0, 0, 0.9);
	position: fixed;
	flex-direction: column;
	top: 0;
	bottom: 0;
	right: -100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	z-index: 10;
}

div#mySidenav.mostrar {
	right: 0;
}

div#mySidenav #cerrar-sidenav {
	position: absolute;
	right: 20px;
	top: 20px;
	max-width: 34px;
}



div#mySidenav ul li {
	/* font-size: 26px; */
	font-weight: 900;
	color: #fff;
	margin: 6px 0;
}

li > ul {
	margin-left: auto;
    margin-right: auto;
}

.sub-menu a{
	/* font-size: 20px; */
	display: flex;
	flex-direction: column;
	font-weight: 600;
    text-decoration: underline;
}
/* 
div#mySidenav ul li a{
	font-size: 26px;
	line-height: 31px;
	font-weight: 600;
	color: #fff;
	margin: 6px 0;
}

div#mySidenav ul .menu a{
	font-size: 25px;
	line-height: 30px;
	font-weight: 100;
	display: flex;
	text-decoration: underline;
	flex-direction: column;
}

div#mySidenav ul .sub-menu a{
	font-size: 25px;
	line-height: 30px;
	font-weight: 100;
	display: flex;
	text-decoration: underline;
	flex-direction: column;
}

li > ul {
	margin-left: auto;
    margin-right: auto;
}

.sub-menu li a{
	font-size: 20px;
	font-weight: 100;
	margin-bottom: 5px;
    
} */

/*--------------------MASTHEAD--------------------*/
header#masthead {
	padding: 10px 0;
	position: absolute;
	/* LO COMENTÓ PORQUE UNA IMAGEN SE COLOCA DE FONDO DEL HEADER*/
	width: 100%;
	z-index: 10;
}

header#masthead .flexcontainer {
	justify-content: space-between;
	align-items: center;
}

header#masthead .parte-der nav#site-navigation {
	display: inline-block;
}

header#masthead .parte-der ul li {
	display: inline;
	font-size: 18px;
	line-height: 23px;
	font-weight: 500;
	margin-left: 20px;
}

header#masthead .parte-der ul li.current_page_item {
	font-weight: 900;
}

/*--------------------POLITICAS--------------------*/
section.cuerpo-politicas {
	padding: 100px 0;
}

section.cuerpo-politicas h3 {
	font-size: 25px;
	line-height: 30px;
	font-weight: 400;
	margin-top: 40px;
	margin-bottom: 30px;
}

/*--------------------FORMULARIO--------------------*/
.formulario .col {
	float: left;
	width: 46.5%;
	margin-bottom: 50px;
	margin-right: 2%;
}

.formulario .col.dos{
	margin-right: unset;
	
}

.formulario .col.ultima {
	margin-right: 0;
	width: 40%;
}

.formulario .col.ultima2 {
	margin-right: 0;
	width: 95%;
}

.formulario .politicas {
	text-align: right;
	margin-top: 18px;
}

.formulario .politicas label a {
	text-decoration: underline;
}

.formulario input[type="text"],
.formulario input[type="email"],
.formulario input[type="number"],
.formulario input[type="date"],
.formulario select,
.formulario textarea {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	line-height: 23px;
	font-weight: 300;
	color: #4b4b4b;
	background-color: transparent;
	border: 1px solid #4b4b4b;
	padding: 5px;
	border-radius: 0;
	display: block;
	width: 100%;
}

.formulario .margen {
	margin-bottom: 40px;
}

.formulario input[type="text"]::placeholder,
.formulario input[type="email"]::placeholder,
.formulario input[type="number"]::placeholder,
.formulario input[type="date"]::placeholder,
.formulario select::placeholder,
.formulario textarea::placeholder {
	font-size: 18px;
	font-weight: 300;
	color: #4b4b4b;
}

.formulario textarea {
	min-height: 112px;
}

.formulario input[type="checkbox"] {
	margin-right: 6px;
}

.formulario input[type="submit"] {
	font-size: 18px;
	line-height: 23px;
	font-weight: 400;
	color: #fff;
	background-color: #000;
	border: 1px solid #000;
	display: block;
	text-align: center;
	width: 160px;
	padding: 8px 0;
	margin-top: 30px;
	text-transform: uppercase;
	margin-left: auto;
	border-radius: 0;
}

.formulario input[type="submit"]:hover {
	background-color: transparent;
	color: #000;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=number] {
	-moz-appearance: textfield;
}

/*--------------------BLOG--------------------*/
#cuerpo-blog .entry-content p {
	text-align: justify;
}

#cuerpo-blog .entry-content ul li {
	text-align: justify;
}

#cuerpo-blog h2.entry-title a {
	line-height: 45px;
}

#cuerpo-blog {
	padding: 80px 0;
}

#cuerpo-blog h2.entry-title {
	font-size: 40px;
	line-height: 45px;
	font-weight: 300;
	margin-top: 20px;
}

#cuerpo-blog .entry-content {
	font-size: 18px;
	line-height: 23px;
	font-weight: 300;
	color: #4b4b4b;
}

#cuerpo-blog a.btn-blog {
	font-size: 18px;
	font-weight: 600;
	color: #fff;
	background-color: #000;
	border: 2px solid #000;
	display: block;
	text-align: center;
	max-width: 210px;
	padding: 10px 0;
	margin-top: 30px;
	margin-bottom: 58px;
}

#cuerpo-blog a.btn-blog:hover {
	background-color: transparent;
	color: #000;
}

#cuerpo-blog .post-thumbnail {
	margin-bottom: 25px;
}

#cuerpo-blog .cuerpo-blog-izq td,
#cuerpo-blog .cuerpo-blog-izq th {
	background-color: #fff;
	padding: 6px;
	border: 1px solid #bbb;
	text-align: left;
}

.cuerpo-blog-izq {
	float: left;
	width: 64%;
}

.sidebar-blog {
	float: right;
	width: 31%;
}

div#calendar_wrap {
	border: 1px solid #ededed;
	padding: 25px;
}

table#wp-calendar caption {
	text-transform: capitalize;
	font-size: 20px;
	font-weight: 300;
	margin-bottom: 25px;
}

table#wp-calendar td,
table#wp-calendar th {
	padding: 7px 0;
	text-align: center;
	font-size: 18px;
	font-weight: 300;
}

table#wp-calendar td a {
	font-weight: 600;
	color: #000;
}

table#wp-calendar td#prev,
table#wp-calendar td#next {
	padding: 0;
	text-align: inherit;
	font-size: 20px;
	font-weight: 600;
	color: #000;
}

section#recent-posts-2 {
	margin-top: 70px;
}

section#recent-posts-2 h2 {
	font-size: 30px;
	font-weight: 600;
	text-transform: capitalize;
}

section#recent-posts-2 ul li {
	font-size: 18px;
	font-weight: 300;
	color: #000;
	list-style-type: disc;
	margin-left: 20px;
	margin-bottom: 12px;
}

section#recent-posts-2 ul li a {
	font-size: 18px;
	font-weight: 300;
	color: #4b4b4b;
}

.single #cuerpo-blog .entry-content ul li {
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 12px;
	margin-left: 20px;
	list-style-type: disc;
}

.single #cuerpo-blog .entry-content ol li {
	font-size: 16px;
	font-weight: 300;
	margin-bottom: 12px;
	margin-left: 20px;
	list-style-type: decimal;
}

.single #cuerpo-blog .entry-content ol ul li {
	list-style-type: disc;
	margin-left: 45px;
}

.single #cuerpo-blog .entry-content h2 {
	margin-top: 45px;
}

.single #cuerpo-blog .entry-content p a {
	font-weight: 600;
	color: #000;
}

/*--------------------MENU MOVIL--------------------*/
div#btn-menu-movil {
	display: none;
}

/*--------------------RESPONSIVE--------------------*/
@media only screen and (max-width: 1290px) {
	header#masthead .parte-der nav#site-navigation {
		display: none;
	}

	div#btn-menu-movil {
		display: inline-block;
		width: 120px;
		order: 3;
	}
}

/* @media only screen and (max-width: 500px) {
	#cuerpo-blog .entry-content p {
		text-align: left;
	}

	#cuerpo-blog .entry-content ul li {
		text-align: left;
	}
} */